fieldset { 
    background-color: aqua; 
}

h1 { 
    text-align: center;
    color: blue; 
}

legend { 
    background-color: red; 
    color: white; 
}

input { 
    background-color: yellow; 
}

input[type=button] {
    background-color: pink;
    white-space: normal;
    width: 80px
}


